[data-component='about-me'] {
  @include content-wrapper;
  background-color: rgb(4, 42, 43);
  overflow: hidden;
  .about-wrapper {
    background: rgb(0, 0, 0);
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: white;
  }
  .about-me { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #cdedf6;
  }
  .main-text { 
    width: 400px;
    font-size: 18px;
    margin: 30px;
  }
}
