@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

[data-component='mainSection'] {
  background-color: rgb(4, 42, 43);
  min-block-size: 100%;
  display: grid;
  place-items: center;
  @include content-wrapper;

  .visual-wrapper {
    aspect-ratio: 1/1;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    inline-size: min(350px, 100%);
    margin: auto;
    opacity: 0;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.hero-text {
  color: #cdedf6;
  h1 {
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2vw;
    font-weight: bold;
    overflow: hidden;
    .box {
      position: absolute;
      bottom: 0;
      display: inline-block;
      height: 1vw;
      z-index: -1;
    }
    .hi {
      display: inline-block;
    }
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  [data-component='mainSection'] {
    .visual-wrapper {
    inline-size: min(250px, 100%);
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .hero-text {
    color: white;

    h1 {
      font-size: 2rem;
    }
  }
}
}